:root {
  --main-radius: 5px;
  --main-padding: 10px;
}
.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "footer footer footer footer";
  grid-gap: 0.3rem;
  font-family: "Inner", sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
nav {
  background-color: #37306b;
  grid-area: nav;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
main {
  background-color: #66347f;
  grid-area: main;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
.sidebar {
  background-color: #9e4784;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
.content1 {
  background-color: #d27685;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
.content2 {
  background-color: #5f264a;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
.content3 {
  background-color: #643a6b;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}
footer {
  background-color: #957777;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding: var(--main-padding);
}

@media only screen and (max-width: 720px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.4fr 1.2fr 1fr 1fr 1fr 0.4fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
